body {
    text-align: center;
    padding: 50px;
    font-family: Arial, sans-serif;
    margin: auto;
    padding: 0px 0px 0px 0px;
  }
  
  h1 {
    font-size: 4em;
    margin-bottom: 20px;
  }
  
  p {
    font-size: 18px;
    margin-bottom: 20px;
  }



  @media only screen and (min-width: 600px) {
    img {
      margin: auto;
      max-width: 80%;
      max-height: 80%;
    }
  }

  @media only screen and (max-width: 600px) {
    img {
      margin: auto;
      max-width: 100%;
      max-height: 100%;
    }
  }